.nav-link{
    text-decoration: none;
    color: whitesmoke;
    font-size: 24px;
    font-weight: 500;
}

.nav-link.first-link{
    font-size: 36px;
    font-weight: 400;
    font-family: "Protest Guerrilla", sans-serif;
}