/* assuming you have defined green and pink */
.line-text {
    position: relative;
    display: inline-block;
    font-size: 4vw;
    font-weight: 800;
    text-transform: uppercase;
    font-style: italic;
    color: transparent;
    -webkit-text-stroke-width: 5.5px;
    -webkit-text-stroke-color: white;
    white-space: nowrap;
    padding-left: 1vw;
    margin-top: 1vh;
    text-shadow: 12px 15px green, 13px 16px pink, 14px 17px pink, 15px 18px pink, 16px 19px pink, 17px 20px pink, 18px 21px pink, 19px 22px pink;
}

.beautifulBackground {
    backdrop-filter: blur(10px);
}

.blurredFilter {
    background-image: url('../../public/7509867_3676796.jpg');
    background-size: cover;
}