@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, rgb(8, 0, 7) 0%, rgba(8, 0, 14, 0.98) 50%, rgba(8, 0, 20, 0.99) 100%);

}

* {
    box-sizing: border-box;
}